[submodule "MicroPython"]
	path = MicroPython
	url = https://github.com/echo-lalia/microhydra-frozen.git
	ignore = dirty
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
	ignore = all